<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Concert Event Hosting Services (Republic of Rock) Dashboard</title>

  <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <!-- ======================================= -->
  <div class="w-full flex flex-col min-h-screen">
    <!-- ======================================= -->
    <!-- Navigation Panel -->
    <%- include('../partials/nav_panel', { has_side_bar: false }) %>
    <!-- ======================================= -->
    <!-- Body -->
    <div class="mt-32 flex justify-center items-start w-full flex-1">
      <div class="grid grid-cols-2 gap-7">
        <%-
          include('../partials/dashboard_card', {
            page_url: '/users?page=1',
            api_body: JSON.stringify({ page: 1 }),
            card_title: 'Users',
            card_description: 'View, Create, Update, Delete Users',
          });
        %>
        <%-
          include('../partials/dashboard_card', {
            page_url: '/events',
            api_body: null,
            card_title: 'Events',
            card_description: 'View, Create, Approve, Update, Delete Events'
          });
        %>
        <%-
          include('../partials/dashboard_card', {
            page_url: '/api_doc',
            api_body: null,
            card_title: 'API Documentations',
            card_description: 'View API Endpoints'
          });
        %>
        <%-
          /*
            include('../partials/dashboard_card', {
              page_url: '/events',
              api_body: null,
              card_title: 'Logs',
              card_description: 'Access Logs for Debugging Purposes'
            });
          */
        %>
      </div>
    </div>
    <!-- ======================================= -->
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- ======================================= -->
  </div>
  <!-- ======================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <!-- ======================================= -->
</body>

</html>