<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Event Hosting Services (Republic of Rock) Login Page</title>
    <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <!-- ======================================= -->
    <!-- Navigation + Side Panel + Body -->
    <div class="w-full flex flex-col min-h-screen">
        <%- include('../partials/nav_panel', { has_side_bar: false }) %>

        <div class="flex-1">
            <div class="mt-32">
                <p class="text-3xl mb-5 text-center font-bold">
                    Password Reset Page
                </p>
            </div>
            
            <% if (is_valid) { %>
                <form class="mt-5 max-w-xl mx-auto" action="<%= form_api_url %>" method="POST">
                    <div class="mb-5">
                        <!-- Password -->
                        <label for="password-form" class="block mb-2 text-sm text-gray-900 dark:text-white">Your new password</label>
                        <div class="flex items-center pe-3 block bg-gray-50 rounded-lg border border-solid border-gray-300 dark:bg-gray-700 dark:border-gray-600 focus-within:ring-1 focus-within:ring-blue-500 focus-within:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <input name="password" type="password" id="password-form"
                                value="<%= form_data && form_data.password ? form_data.password : "" %>"
                                class="text-gray-900 text-sm bg-transparent border-none block w-full p-2.5 focus:ring-0 rounded-lg dark:placeholder-gray-400 dark:text-white"
                                placeholder="Your Password"
                                autocomplete="true"
                                required />
                            <input type="checkbox" name="password-flag"
                                class="w-4 h-4 border border-black rounded bg-white focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-0"
                                onclick="Toggle('password-form')">
                        </div>
                    </div>
                    <div class="mb-5">
                        <!-- Password Confirmation -->
                        <label for="password-confirmation-form" class="block mb-2 text-sm text-gray-900 dark:text-white">Confirm your new password</label>
                        <div class="flex items-center pe-3 block bg-gray-50 rounded-lg border border-solid border-gray-300 dark:bg-gray-700 dark:border-gray-600 focus-within:ring-1 focus-within:ring-blue-500 focus-within:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <input name="password_confirmation" type="password" id="password-confirmation-form"
                                value="<%= form_data && form_data.password ? form_data.password : "" %>"
                                class="text-gray-900 text-sm bg-transparent border-none block w-full p-2.5 focus:ring-0 rounded-lg dark:placeholder-gray-400 dark:text-white"
                                placeholder="Confirm Your Password"
                                autocomplete="true"
                                required />
                            <input type="checkbox" name="password-confirmation-flag"
                                class="w-4 h-4 border border-black rounded bg-white focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-0"
                            onclick="Toggle('password-confirmation-form')">
                        </div>
                    </div>
                    <!-- ======================================= -->
                    <!-- Password Criteria -->
                    <div class="flex flex-col rounded border border-solid border-gray-300 mb-5 ps-2 pe-5 pt-2 pb-3">
                        <p class="font-bold text-sm text-gray-900">Requirements for password: </p>
                        <p class="text-sm text-gray-900">1. 8 characters long.</p>
                        <p class="text-sm text-gray-900">2. Must contain 1 symbol, 1 number, 1 lower and 1 uppercase letter.</p>
                    </div>
                    <!-- ======================================= -->
                    <!-- Display information from previous page's successful query -->
                    <% if (info_message) { %>
                        <p class="text-green-500 mb-5 mx-0 p-0">
                            <%= info_message %>
                        </p>
                    <% } %>
                    <!-- ======================================= -->
                    <!-- Display Error Messages -->
                    <% if (error_message) { %>
                        <p class="text-red-500 mb-5 mx-0 p-0">
                            <%= error_message %>
                        </p>
                    <% } %>
                    <!-- ======================================= -->
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                    </button>
                </form>
            <% } else { %>
                <div class="flex flex-col items-center">
                    <img src="/img/auth/crossed.gif" style="min-width: 128px; min-height: 128px; max-width: 256px; max-height: 256px; width: 100; height: auto;" />
                    <p className="text-3xl text-red-300">
                        This is an invalid password reset request.
                    </p>
                </div>
            <% } %>
        </div>
        <%- include('../partials/footer') %>
    </div>
    <!-- ======================================= -->
    <script>
        // Change the type of input to password or text
        function Toggle(id) {
            let temp = document.getElementById(id);
            temp.type = temp.type === "password" ? "text" : "password";
        }
    </script>
    <!-- ======================================= -->
</body>

</html>