<!DOCTYPE html>
<html>

<head>
    <title>Concert Event Hosting Services (Republic of Rock) API Documentation</title>
    <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <!-- ======================================= -->
    <!-- Navigation + Side Panel + Body -->
    <div class="w-full">
        <%- include('../../partials/nav_panel', { has_side_bar: true }) %>
        <%- include('../../partials/side_bar_code_doc') %>

        <div class="p-4 sm:ml-64">
            <div class="mt-16">
                <p class="text-2xl font-bold">
                    Category: Events
                </p>
                <div class="mt-5 mx-8">
                    <div class="w-full">
                        <ul class="list-disc list-inside">
                            <!-- Events Listing (Consumers) API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Events Listing (Consumers)',
                                description: '',
                                endpoint_url: 'api/events/user',
                                endpoint_type: 'GET',
                                endpoint_parameters: null,
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (With Results)',
                                        description: '',
                                        json_response: `
                                            events: [
                                                {
                                                    event_id: 1,
                                                    event_name: '...',
                                                    event_promotional_image: INSERT_URL_HERE,
                                                    event_start_time: INSERT_TIME_STAMP_HERE,
                                                    event_end_time: INSERT_TIME_STAMP_HERE,
                                                    event_venue_id: 1,

                                                    organiser_email: '...@some-mail.com',
                                                    organiser_name: '...',
                                                    organiser_phone_code: '+??',
                                                    organiser_contact_number: 123456789,

                                                    staff_email: '...@some-mail.com',
                                                    staff_name: '...',
                                                    staff_phone_code: '+??',
                                                    staff_contact_number: 987654321,

                                                    venue_address: '...',
                                                    venue_state: '...',
                                                    venue_image_catalogues: INSERT_URL_HERE,

                                                    event_remarks: '...',
                                                    created_at: INSERT_TIME_STAMP_HERE
                                                },
                                                {
                                                    ...
                                                },
                                                {
                                                    ...
                                                }
                                            ]
                                        `
                                    },
                                    {
                                        name: 'Success (Zero Match)',
                                        description: '',
                                        json_response: `
                                            message: "No events found for this user.",
                                            events: []
                                        `
                                    }
                                ], 
                                endpoint_failed_responses: [
                                    {
                                        name: 'Server Codebase Error.' ,
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Events Listing (Staffs) API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Events Listing (Administration)',
                                description: '',
                                endpoint_url: 'api/events/staff',
                                endpoint_type: 'GET',
                                endpoint_parameters: null,
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (With Results)',
                                        description: '',
                                        json_response: `
                                            events: [
                                                {
                                                    event_id: 1,
                                                    event_name: '...',
                                                    event_promotional_image: INSERT_URL_HERE,
                                                    event_start_time: INSERT_TIME_STAMP_HERE,
                                                    event_end_time: INSERT_TIME_STAMP_HERE,
                                                    event_venue_id: 1,

                                                    organiser_email: '...@some-mail.com',
                                                    organiser_name: '...',
                                                    organiser_phone_code: '+??',
                                                    organiser_contact_number: 123456789,

                                                    staff_email: '...@some-mail.com',
                                                    staff_name: '...',
                                                    staff_phone_code: '+??',
                                                    staff_contact_number: 987654321,

                                                    venue_address: '...',
                                                    venue_state: '...',
                                                    venue_image_catalogues: INSERT_URL_HERE,

                                                    event_remarks: '...',
                                                    created_at: INSERT_TIME_STAMP_HERE
                                                },
                                                {
                                                    ...
                                                },
                                                {
                                                    ...
                                                }
                                            ]
                                        `
                                    },
                                    {
                                        name: 'Success (Zero Match)',
                                        description: '',
                                        json_response: `
                                            message: "No events found for this staff.",
                                            events: []
                                        `
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'Server Codebase Error.' ,
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Event Overview API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Event Detailed Overview (Consumers)',
                                description: 'Retrieving all the info about an event where the requesting user is the organizer.',
                                endpoint_url: 'api/event/:id',
                                endpoint_type: 'GET',
                                endpoint_parameters: {
                                    id: 1
                                },
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (With Results)',
                                        description: '',
                                        json_response: `
                                            event: {
                                                event_id: 1,
                                                event_name: '...',
                                                event_promotional_image: INSERT_URL_HERE,
                                                event_start_time: INSERT_TIMESTAMP_HERE,
                                                event_end_time: INSERT_TIMESTAMP_HERE,
                                                event_venue_id: 1,
                                                event_remarks: '...'
                                            }
                                        `
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'No Event Found.' ,
                                        description: 'No event found from the database that\'s tied to the requesting user.',
                                        code_message: '404',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "no-event-found",
                                                    code: 404
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Server Codebase Error.' ,
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Creating a New Event API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'New Event Endpoint',
                                description: '',
                                endpoint_url: 'api/event',
                                endpoint_type: 'POST',
                                endpoint_parameters: {
                                    event_venue_id: 1,
                                    event_name: '...', 
                                    event_scheduled_start: '1985-09-25 17:45:30.005', 
                                    event_scheduled_end: '1985-09-25 17:45:30.005',
                                    event_promo_image: '...', 
                                    event_remarks: '...'
                                },
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (With Results)',
                                        description: '',
                                        json_response: `
                                            event: {
                                                event_id: 1,
                                                event_name: '...',
                                                event_promotional_image: INSERT_URL_HERE,
                                                event_start_time: INSERT_TIMESTAMP_HERE,
                                                event_end_time: INSERT_TIMESTAMP_HERE,
                                                event_venue_id: 1,
                                                event_remarks: '...',

                                                organiser_email: '...@some-mail.com',
                                                organiser_name: '...',
                                                organiser_phone_code: '+??',
                                                organiser_contact_number: 123456789,

                                                staff_email: '...@some-mail.com',
                                                staff_name: '...',
                                                staff_phone_code: '+??',
                                                staff_contact_number: 987654321,

                                                venue_address: '...',
                                                venue_state: '...',
                                                venue_image_catalogues: INSERT_URL_HERE,

                                                event_remarks: '...',
                                                created_at: INSERT_TIME_STAMP_HERE
                                            }
                                        `
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'Incomplete Form',
                                        description: 'Occurs when there are missing fields in the form.', 
                                        code_message: '405',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "incomplete-form",
                                                    code: 405
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'No User Found.',
                                        description: 'Requesting user is not a registered user.',
                                        code_message: '404',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "no-user-found",
                                                    code: 404
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Server Codebase Error.',
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Modifying an Existing Event API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Modify Existing Event Endpoint',
                                description: '',
                                endpoint_url: 'api/event',
                                endpoint_type: 'PUT',
                                endpoint_parameters: {
                                    event_id: 1,
                                    event_venue_id: 1,
                                    event_name: '...', 
                                    event_scheduled_start: '1985-09-25 17:45:30.005', 
                                    event_scheduled_end: '1985-09-25 17:45:30.005',
                                    event_promo_image: '...', 
                                    event_remarks: '...'
                                },
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (With Results)',
                                        description: '',
                                        json_response: `
                                        event: {
                                            event_id: 1
                                        }
                                        `
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'Incomplete Form',
                                        description: 'Occurs when there are missing fields in the form.', 
                                        code_message: '405',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "incomplete-form",
                                                    code: 405
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'No Event Found.',
                                        description: 'No event found from the database that\'s tied to the requesting user.',
                                        code_message: '404',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "no-event-found",
                                                    code: 404
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Server Codebase Error.',
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Delete an Existing Event API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Delete Existing Event Endpoint',
                                description: '',
                                endpoint_url: 'api/event',
                                endpoint_type: 'DELETE',
                                endpoint_parameters: {
                                    event_id: 1
                                },
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (Regardless if any records were deleted)',
                                        description: '',
                                        json_response: `
                                            message: "Event successfully deleted." or "Event already deleted or does not exist.",
                                            event: {
                                                event_id: 1
                                            }
                                        `
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'No Event Found.',
                                        description: 'No event found from the database that\'s tied to the requesting user.',
                                        code_message: '404',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "no-event-found",
                                                    code: 404
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Server Codebase Error.',
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                            <!-- Approve an Existing Event API -->
                            <%- include('../../partials/code_doc_section', {
                                title: 'Approve an Existing Event Endpoint',
                                description: '',
                                endpoint_url: 'api/event/approve',
                                endpoint_type: 'POST',
                                endpoint_parameters: {
                                    event_id: 1
                                },
                                endpoint_success_responses: [
                                    {
                                        name: 'Success. (Code: 201)',
                                        description: 'Nothing to return to front-end app.',
                                        json_response: null
                                    }
                                ],
                                endpoint_failed_responses: [
                                    {
                                        name: 'Incorrect Role.',
                                        description: 'A user without proper clearance tried to access the API.',
                                        code_message: '405',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "incorrect-role",
                                                    code: 405
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Event Not Found.',
                                        description: '',
                                        code_message: '404',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "event-not-found",
                                                    code: 404
                                                }
                                            }
                                        `
                                    },
                                    {
                                        name: 'Server Codebase Error.',
                                        description: 'Read through the compiler\'s logs, then check the codebase to identify where this error is coming from.',
                                        code_message: '500',
                                        json_response: `
                                            {
                                                success: false,
                                                error: {
                                                    status: "server-error",
                                                    code: 500
                                                }
                                            }
                                        `
                                    }
                                ]
                            }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>