<li class="mb-5">
    <span class="font-bold"><%= title %></span>

    <br />

    <% if (description) { %>
        <div class="mb-8">
            <span><%= description %></span>
        </div>
    <% } else { %>
        <div class="mb-8"></div>
    <% } %>

    <ul class="list-[upper-roman] list-inside">
        <li class="my-3">
            <span>URL Endpoint: </span>
            <code class="code-container code-text"><%= endpoint_url %></code>
        </li>
        <li class="my-3">
            <span>Type: </span>
            <span class="font-bold"><%= endpoint_type %></span>
        </li>
        <!-- ============================================= -->
        <%
            let header = '';
            switch (endpoint_type) {
                case 'GET':
                    header = 'Params';
                    break;
                case 'POST':
                case 'PUT':
                case 'DELETE':
                    header = 'Body';
                    break;
                case 'OPTIONS':
                case 'HEAD':
                case 'TRACE':
                    break;
                default:
                    break;
            }
        %>

        <!-- Parameter (GET) or Body (POST/PUT) List Table -->
        <table class="align-top border-collapse border border-slate-400">
            <tbody class="align-top">
                <tr>
                    <td class="border border-slate-300 px-6 py-3 w-screen">
                        <span>
                            <%= header %> (<span class="font-bold">JSON Format</span>):
                            <span> </span>
                            <%= endpoint_parameters ? "" : "N/A" %>
                        </span>
                        <% if (endpoint_parameters) { %>
                            <% let paramsJSON = JSON.stringify(endpoint_parameters); %>
                            <% 
                                paramsJSON = paramsJSON.replace(
                                    new RegExp('{|\\[|,|}', 'g' ), 
                                    (match) => match === '{' || match === '[' || match === ',' ? match + '\n' : '\n' + match
                                ); 
                            %>

                            <% if (endpoint_parameters) { %>
                                <div class="code-container">
                                    <% let lines = paramsJSON.split(/\r?\n/).map((line) => line.trim()); %>

                                    <% let tabIndentCount = 0; %>
                                    <% lines.forEach((line, lineIndex) => { %>
                                        <!-- ===================================================== -->
                                        <!-- Increase Tab Indent on every "{" character encounter. -->
                                        <!-- Decrease Tab Indent on every "}" character encounter. -->
                                        <% 
                                            if (line.includes("}") || line.includes("]"))
                                                tabIndentCount = (tabIndentCount === 0) ? 0 : (tabIndentCount - 1);
                                        %>
                                        <!-- ===================================================== -->
                                        <p class="code-text m-0 p-0">
                                            <% for (let i = 0; i < tabIndentCount; ++i) { %>
                                                <span class="whitespace-pre-wrap">    </span>
                                            <% } %>
                                            <%= line %>
                                        </p>
                                        <%
                                            if (line.includes("{") || line.includes("["))
                                                ++tabIndentCount;
                                        %>
                                    <% }); %>
                                </div>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- ============================================= -->
        <!-- Successful Response -->
        <li class="my-3">
            <span>Successful Response(s): </span>
            <br />
            <!-- Successful Response Table-->
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6 pt-5 w-screen">
                            <ol class="list-decimal list-inside">
                                <% endpoint_success_responses.forEach((response, index)=> { %>
                                    <li>
                                        <span class="text-green-500">
                                            <%= response.name %>
                                        </span>

                                        <br />

                                        <% if (response.description) { %>
                                            <div>
                                                <span><%= response.description %></span>
                                            </div>

                                            <br />
                                        <% } %>

                                        <%
                                            if (response.json_response) {
                                                let lines = response.json_response.split(/\r?\n/).map((line) => line.trim());
                                        %>
                                            <div class="code-container">
                                                <% let tabIndentCount = 0; %>

                                                <% lines.forEach((line, lineIndex) => { %>
                                                    <!-- ===================================================== -->
                                                    <!-- Increase Tab Indent on every "{" character encounter. -->
                                                    <!-- Decrease Tab Indent on every "}" character encounter. -->
                                                    <% 
                                                        if (line.includes("}") || line.includes("]"))
                                                            tabIndentCount = (tabIndentCount === 0) ? 0 : (tabIndentCount - 1);
                                                    %>
                                                    <!-- ===================================================== -->
                                                    <p class="code-text m-0 p-0">
                                                        <% for (let i = 0; i < tabIndentCount; ++i) { %>
                                                            <span class="whitespace-pre-wrap">    </span>
                                                        <% } %>
                                                        <%= line %>
                                                    </p>
                                                    <%
                                                        if (line.includes("{") || line.includes("["))
                                                            ++tabIndentCount;
                                                    %>
                                                <% });%>
                                            </div>
                                        <% } %>
                                    </li>
                                    <%- (index < endpoint_success_responses.length - 1) ? '<hr class="my-5 border-[#000000]" />' : '' %>
                                <% }); %>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <!-- ============================================= -->
        <!-- Failed Response -->
        <li>
            <span>Error/Failed Response(s): </span>
            <br />
            <!-- Failed Response Table -->
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6 py-3 w-screen">
                            <% if (endpoint_failed_responses.length > 0) { %>
                                <ol class="list-decimal list-inside">
                                <% endpoint_failed_responses.forEach((response, index)=> { %>
                                    <li>
                                        <span class="text-red-500">
                                            <%= response.name %> (<span class="font-bold"><%= response.code_message %></span>)
                                        </span>

                                        <br />

                                        <span><%= response.description %></span>

                                        <br />

                                        <div class="code-container">
                                            <% let lines = response.json_response.split(/\r?\n/).map((line) => line.trim()); %>

                                            <% let tabIndentCount = 0; %>

                                            <% lines.forEach((line, lineIndex) => { %>
                                                <!-- ===================================================== -->
                                                <!-- Increase Tab Indent on every "{" character encounter. -->
                                                <!-- Decrease Tab Indent on every "}" character encounter. -->
                                                <% 
                                                    if (line.includes("}") || line.includes("]"))
                                                        tabIndentCount = (tabIndentCount === 0) ? 0 : (tabIndentCount - 1);
                                                %>
                                                <!-- ===================================================== -->
                                                <p class="code-text m-0 p-0">
                                                    <% for (let i = 0; i < tabIndentCount; ++i) { %>
                                                        <span class="whitespace-pre-wrap">    </span>
                                                    <% } %>
                                                    <%= line %>
                                                </p>
                                                <%
                                                    if (line.includes("{") || line.includes("["))
                                                        ++tabIndentCount;
                                                %>
                                            <% }); %>
                                        </div>
                                    </li>
                                    <%- (index < endpoint_failed_responses.length - 1) ? '<hr class="my-5 border-[#000000]" />' : '' %>
                                <% }); %>
                                </ol>
                            <% } else { %>
                                <p class="font-medium">N/A</p>
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <!-- ============================================= -->
    </ul>
</li>