<!-- Search Filter -->
<div class="flex items-center">
    <label for="search_<%= name %>" class="text-sm font-medium text-gray-900 dark:text-white mb-2">
        Search By <%= category %>: 
    </label>
    <div class="relative ms-auto me-5">
        <!-- Dropdown menu -->
        <select name="<%= name %>" id="search_<%= name %>" 
            class="z-10 text-sm bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <%
                for (let i = 0; i < choices.length; ++i) {
                    const choice = choices[i];
            %>
                <option class="text-sm block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    <%= (default_value === choice) ? 'selected' : '' %>
                    value="<%= choice %>">
                    <%= choice %>
                </option>
            <% } %>
        </select>
    </div>
</div>