<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Concert Event Hosting Services (Republic of Rock) Users Page</title>

  <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <!-- ======================================= -->
  <div class="w-full flex flex-col min-h-screen">
    <!-- ======================================= -->
    <!-- Navigation Panel -->
    <%- include('../../partials/nav_panel', { has_side_bar: false }) %>
    <!-- ======================================= -->
    <!-- Body -->
    <div class="mt-16 flex flex-col w-full flex-1">
      <!-- Search Filter Inputs -->
      <form id="filter-form" class="w-full mx-auto my-5">

        <div class="grid md:grid-cols-2 sm:grid-cols-2 gap-auto gap-y-3 mx-8 mb-5">
          <!-- User ID Search Filter -->
          <%-
            include('../../partials/search_input', {
              category: 'User ID',
              name: 'user_id', 
              default_value: form_data && form_data.user_id ? form_data.user_id : null
            });
          %>

          <!-- User Name Search Filter -->
          <%-
            include('../../partials/search_input', {
              category: 'User Name',
              name: 'name', 
              default_value: form_data && form_data.name ? form_data.name : null 
            });
          %>

          <!-- Email Search Filter -->
          <%-
            include('../../partials/search_input', {
              category: 'Email Address',
              name: 'email', 
              default_value: form_data && form_data.email ? form_data.email : null 
            });
          %>

          <!-- Country Name Search Filter -->
          <%-
            include('../../partials/search_input', {
              category: 'Country Name',
              name: 'country_name', 
              default_value: form_data && form_data.country_name ? form_data.country_name : null
            });
          %>

          <!-- Type Filter (Dropdown) -->
          <%-
            include('../../partials/search_input_dropdown', {
              category: 'Type',
              name: 'user_type', 
              choices: [ 'Individual', 'Organization' ],
              default_value: form_data && form_data.user_type ? form_data.user_type : null 
            });
          %>

          <!-- NRIC/Registration Number Filter -->
          <%-
            include('../../partials/search_input', {
              category: 'NRIC/Registration Number',
              name: 'id_number', 
              default_value: form_data && form_data.id_number ? form_data.id_number : null
            });
          %>
        </div>

        <div class="flex justify-center">
          <button type="submit"
            class="text-white max-w-md w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Search
          </button>
        </div>
      </form>

      <hr class="mb-8 "/>

      <!-- Results Table -->
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                ID
              </th>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Country
              </th>
              <th scope="col" class="px-6 py-3">
                Contact Number
              </th>
              <th scope="col" class="px-6 py-3">
                Type
              </th>
              <th scope="col" class="px-6 py-3">
                Identification Number
              </th>
              <th scope="col" class="px-6 py-3">
                Verified
              </th>
              <th scope="col" class="px-6 py-3">
                Actions
              </th>
            </tr>
          </thead>
          <% for (let i = 0; i < users.length; ++i) { %>
            <% const user = users[i] %>
            <tbody>
              <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= user.id %>
                </th>
                
                <td class="px-6 py-4">
                  <%= user.name %>
                </td>

                <td class="px-6 py-4">
                  <%= user.country_name %>
                </td>
                
                <td class="px-6 py-4">
                  <%= "+" + user.country_code + user.contact_number %>
                </td>

                <td class="px-6 py-4">
                  <%= user.type %>
                </td>

                <td class="px-6 py-4">
                  <%= user.identification_number %>
                </td>

                <td class="px-6 py-4">
                  <% if (user.verified) { %>
                    <span type="button" data-tooltip-target="tooltip-default-<%= i %>" class="inline-block bg-green-300 h-5 w-5" style="border-radius:50%;">
                    </span>
                  <% } else { %>
                    <span data-tooltip-target="tooltip-default-<%= i %>" class="inline-block bg-red-700 h-5 w-5" style="border-radius:50%;">
                    </span>
                  <% } %>
                  <!-- Tooltip for the circle shape indicators for verification -->
                  <div id="tooltip-default-<%= i %>" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    <%= user.verified ? 'Verified' : 'Not Verified' %>
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </td>

                <td class="px-6 py-4">
                  <div class="w-full flex flex-col items-center mb-3">
                    <a href="#" role="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                      View
                    </a>
                  </div>
                  <div class="w-full flex flex-col items-center mb-3">
                    <a href="#" role="button" class="rounded-lg font-medium text-blue-600 dark:text-blue-500 hover:underline">
                      Edit
                    </a>
                  </div>
                  <div class="w-full flex flex-col items-center">
                    <a href="#" role="button" class="rounded-lg font-medium text-blue-600 dark:text-blue-500 hover:underline">
                      Delete
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          <% } %>
        </table>
      </div>

        <!-- Paginate Section -->
      <div class="mt-32 flex flex-col items-center w-full mt-auto my-3">
        <%- include('../../partials/paginate_section', {
            active_page_no: active_page_no,
            start_page_no: start_page_no,
            end_page_no: end_page_no,
            total_page_count: total_page_count
          })
        %>
      </div>
    </div>
    <!-- ======================================= -->
    <!-- Footer -->
    <%- include('../../partials/footer') %>
    <!-- ======================================= -->
  </div>
  <!-- ======================================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <!-- ======================================= -->
</body>

</html>