<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Concert Event Hosting Services (Republic of Rock) Events (Modify) Page</title>

    <link rel="stylesheet" href="/css/style-tailwind.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <!-- ======================================= -->
    <div class="w-full flex flex-col min-h-screen">
        <!-- ======================================= -->
        <!-- Navigation Panel -->
        <%- include('../../partials/nav_panel', { has_side_bar: false }); %>
        <!-- ======================================= -->
        <!-- Body -->
        <div class="mt-20 flex flex-col ">
            <div id="event_form" class="max-w-5xl w-full mx-auto">
                <!-- ============================== -->
                <div class="flex items-center justify-center mb-5">
                    <p class="text-center text-3xl font-bold me-5">
                        Edit Event Information
                    </p>
                    <a class="text-blue-600 font-medium hover:underline"
                        href="<%= '/event/view/' + target_event.id %>" role="button">
                        Move to View Mode
                    </a>
                </div>
                <!-- ============================== -->
                <!-- Event Name -->
                <div class="mb-5">
                    <label for="name" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Event Name*
                    </label>
                    <input type="text" id="name" name="name" value="<%= target_event.name %>"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Event Name (E.g. Concert ABC)" required />
                </div>
                <!-- ============================== -->
                <!-- Organiser -->
                <div class="mb-5">
                    <label for="organiser_disabled" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Organiser*
                    </label>
                    <input type="text" id="organiser_disabled" name="organiser_disabled"
                        value="<%= (target_event.organiser_name + ' (' + target_event.organiser_email + ')') %>"
                        class="me-3 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        disabled />
                </div>
                <!-- ============================== -->
                <!-- Staff -->
                <div class="mb-5">
                    <%
                        if (user.role_name.toLowerCase() === 'admin') {
                    %>
                        <label for="staff" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                            Staff
                        </label>
                        <select role="button" id="staff" name="staff"
                         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <%
                                for (let i = 0; i < users.length; ++i) {
                                    const user = users[i];
                            %>
                                <option value="<%= user.id %>" <%= (target_event.staff_id === user.id) ? "selected" : "" %>>
                                    <%= (user.name + ' (' + user.email + ')') %>
                                </option>
                            <% } %>
                        </select>
                    <% } else { %>
                        <div class="flex items-center mb-2">
                            <label for="staff_disabled" class="block text-md font-bold text-gray-900 dark:text-white me-3">
                                Staff
                            </label>
                            <% if (!target_event.staff_id) { %>
                                <button id="staff_assign_button"
                                    onclick="onAssignStaff('<%= user.id %>', '<%= user.name %>', '<%= user.email %>')"
                                    class="text-white max-w-48 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Assign me to the event!
                                </button>
                            <% } %>
                        </div>
                        <input type="text" id="staff" name="staff" value=""
                            class="hidden me-3 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            disabled />
                        <input type="text" id="staff_disabled" name="staff_disabled"
                            value="<%= target_event.staff_id ? (target_event.staff_name + ' (' + target_event.staff_email + ')') : 'Unassigned' %>"
                            class="me-3 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            disabled />
                    <% } %>
                </div>
                <!-- ============================== -->
                <!-- Event Promotional Image -->
                <div class="mb-5">
                    <label for="promo_image" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Upload File (Promotional Image)*
                    </label>
                    <input id="promo_image" name="promo_image"
                        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        aria-describedby="promo_image_help" type="file">

                    <div class="flex items-center justify-center w-full mt-8">
                        <img src="<%= target_event.promo_image ? target_event.promo_image : '/img/event-default.webp' %>"
                            alt="Profile Picture (Large)" id="display_profile_lg" class="me-3"
                            style="min-width:96px; min-height:96px; max-width:128px; max-height:128px; width:100%; height:auto;" />
                        <img src="<%= target_event.promo_image ? target_event.promo_image : '/img/event-default.webp' %>"
                            alt="Profile Picture (Medium)" id="display_profile_md" class="me-3"
                            style="min-width:64px; min-height:64px; max-width:96px; max-height:96px; width:100%; height:auto;" />
                        <img src="<%= target_event.promo_image ? target_event.promo_image : '/img/event-default.webp' %>"
                            alt="Profile Picture (Small)" id="display_profile_sm"
                            style="min-width:32px; min-height:32px; max-width:64px; max-height:64px; width:100%; height:auto;" />
                    </div>
                    <div class="flex flex-col rounded-lg mb-2 px-2 py-1">
                        <p class="font-bold">Requirements for promotional image setup: </p>
                        <p class="fw-normal">1. Must not exceed 512kb. </p>
                        <p class="fw-normal">2. Equal Width and Height Dimensions. </p>
                    </div>
                </div>
                <!-- ============================== -->
                <!-- Venue -->
                <div class="mb-5">
                    <label for="venue" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Venue*
                    </label>
                    <select role="button" id="venue" name="venue"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <%
                            for (let i = 0; i < venues.length; ++i) {
                                const venue = venues[i];
                        %>
                            <option value="<%= venue.id %>" <%= (target_event.venue_id === venue.id) ? "selected" : "" %>>
                                <%= (venue.address + ' (' + venue.state + ')') %>
                            </option>
                        <% } %>
                    </select>
                </div>
                <!-- ============================== -->
                <!-- Start/End DateTime (Timestamp) Parse Into Local Timezone ISO String -->
                <% 
                    const getTimezoneOffset = date => {
                        const tzOffset = -date.getTimezoneOffset();
                        const diff = tzOffset >= 0 ? '+' : '-';

                        const result = diff + (tzOffset / 60).toString().padStart(2, "0") + ':' + (tzOffset % 60).toString().padStart(2, "0");
                        return result;
                    };

                    const toLocalTimezoneISOString = (date) => {
                        date.setMinutes(date.getMinutes() - date.getTimezoneOffset());

                        return date.getFullYear() +
                            '-' + (date.getMonth() + 1).toString().padStart(2, "0") +
                            '-' + (date.getDate()).toString().padStart(2, "0") +
                            'T' + (date.getHours()).toString().padStart(2, "0") +
                            ':' + (date.getMinutes()).toString().padStart(2, "0") +
                            ':' + (date.getSeconds()).toString().padStart(2, "0");
                    };

                    const getTimeISOString = (input) => {
                        const time = new Date(input);

                        // Debug
                        //console.log("Timezone:", time.getTimezoneOffset());

                        // Debug
                        //console.log("Input:", input);

                        const time_iso = toLocalTimezoneISOString(time);

                        // Debug
                        //console.log("New Value:", time_iso);
                        return time_iso;
                    };
                    
                    const start_time = getTimeISOString(target_event.event_start_datetime);
                    const end_time = getTimeISOString(target_event.event_end_datetime);
                %>
                <!-- ============================== -->
                <!-- Scheduled Start Date -->
                <div class="mb-5">
                    <label for="event_start_datetime" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Start Date & Time*
                    </label>
                    <input type="datetime-local" id="event_start_datetime" name="event_start_datetime"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="<%= start_time %>" required />
                </div>
                <!-- ============================== -->
                <!-- Scheduled End Date -->
                <div class="mb-5">
                    <label for="end_datetime" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        End Date & Time*
                    </label>
                    <input type="datetime-local" id="event_end_datetime" name="event_end_datetime"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="<%= end_time %>" required />
                </div>
                <!-- ============================== -->
                <!-- Remarks -->
                <div class="mb-5">
                    <label for="remarks" class="block mb-2 text-md font-bold text-gray-900 dark:text-white">
                        Remarks
                    </label>
                    <input type="text" as="textarea" id="remarks" name="remarks" value="<%= target_event.remarks %>"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Insert any remarks here." required />
                </div>
                <!-- ============================== -->
                <div class="flex justify-evenly mb-5">
                    <button data-modal-target="modify_event_modal" data-modal-toggle="modify_event_modal"
                        class="text-white max-w-48 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Save Changes
                    </button>
                    <button data-modal-target="exit_modal" data-modal-toggle="exit_modal"
                        class="text-white max-w-48 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Return To Event List
                    </button>
                    <!-- Event Modification Confirmation Modal -->
                    <%-
                        include('../../partials/confirmation_modal', {
                            modal_id: 'modify_event_modal',
                            modal_title: 'Modifying Event Information',
                            modal_body: 'Confirm decision to save and commit changes?',
                            modal_context_name: 'modify_event_modal',
                            modal_api_body: {
                                id: target_event.id,
                                name: target_event.name,
                                staff_id: target_event.staff_id,
                                promo_image: target_event.promo_image,
                                venue_id: target_event.venue_id,
                                event_start_datetime: start_time,
                                event_end_datetime: end_time,
                                remarks: target_event.remarks
                            }
                        });
                    %>
                    <!-- Return to Listing Page Modal -->
                    <%-
                        include('../../partials/confirmation_modal', {
                            modal_id: 'exit_modal',
                            modal_title: 'Return To Listing Page',
                            modal_body: 'Confirm decision to return? All unsaved changes will be lost.',
                            modal_context_name: 'exit_modal',
                            modal_api_body: null
                        });
                    %>
                </div>
                <!-- ============================== -->
            </div>
        </div>
        <!-- ======================================= -->
        <!-- Footer -->
        <%- include('../../partials/footer') %>
        <!-- ======================================= -->
    </div>
    <!-- ======================================= -->
    <script>
        // =====================
        // Server URL
        const server_url = '<%= process.env.SERVER_URL %>';
        // =====================
        // Event Name HTML element.
        const event_name = document.getElementById('name');
        // =====================
        // Organiser HTML element.
        const organiser = document.getElementById('organiser');
        // =====================
        // Staff HTML element.
        const staff = document.getElementById('staff');
        const staff_display = document.getElementById('staff_disabled');
        const staff_assign_button = document.getElementById('staff_assign_button');
        // =====================
        // Profile Picture Display HTML elements.
        const display_lg = document.getElementById('display_profile_lg');
        const display_md = document.getElementById('display_profile_md');
        const display_sm = document.getElementById('display_profile_sm');

        document.getElementById('promo_image').addEventListener('change', (event) => {
            const file = event.target.files.length > 0 ? event.target.files[0] : null;

            // Debug
            //console.log("[On Promotional Image Uploaded] File.", file);
            
            if (!file) 
                return;

            // Debug
            //console.log("[On Promotional Image Upload] Size.", file.size);

            const fileReader = new FileReader();
            fileReader.readAsDataURL(file);
            fileReader.addEventListener("load", () => {
                const url = fileReader.result;

                // Test for width and height
                const testImg = new window.Image();
                testImg.onload = () => {
                    const width = testImg.width;
                    const height = testImg.height;

                    // Debug
                    //console.log("[On Profile Picture Upload] Width: " + width + ", Height: " + height);

                    const isValid = width === height & file.size <= 512000;
                    if (isValid) {
                        display_lg.src = url;
                        display_md.src = url;
                        display_sm.src = url;
                    }
                }
                testImg.src = url;
            });
        });
        // =====================
        // Venue HTML element.
        const venue = document.getElementById('venue');
        // =====================
        // Event Start & End Times.
        const event_start_datetime = document.getElementById('event_start_datetime');
        const event_end_datetime = document.getElementById('event_end_datetime');
        // =====================
        // Remarks HTML element.
        const remarks = document.getElementById('remarks');
        // =====================
        function onAssignStaff(user_id, user_name, user_email) {
            staff.value = user_id;
            staff_display.value = (user_name + ' (' + user_email + ')');
            staff_assign_button.classList.add('hidden');
        }
        // =====================
        // Submit Changes to server API.
        function onModalAccepted(context_name, body) {
            // Debug
            //console.log("[On Modal Prompted - Accept] Context: " + context_name);

            switch (context_name) {
                case 'modify_event_modal':
                    body = JSON.parse(body);

                    // Debug
                    //console.log("[Input] Body: ", body);

                    const staff_value = (staff.value.trim().length > 0) ? parseInt(staff.value) : null;
                    const staff_id = (staff_value !== null && staff_value !== body.staff_id) ? staff_value : null;

                    const requestBody = {
                        event_id: body.id,
                        event_name: (event_name.value === body.name) ? null : event_name.value,
                        staff_id: staff_id,
                        promo_image: (display_profile_lg.src === body.promo_image) ? null : display_profile_lg.src,
                        venue_id: (parseInt(venue.value) === body.venue_id) ? null : parseInt(venue.value),
                        event_start_datetime: (new Date(event_start_datetime.value).getTime() === new Date(body.event_start_datetime).getTime()) ? null : event_start_datetime.value,
                        event_end_datetime: (new Date(event_end_datetime.value).getTime() === new Date(body.event_end_datetime).getTime()) ? null : event_end_datetime.value,
                        remarks: (remarks.value === body.remarks || remarks.value.trim().length === 0) ? null : remarks.value
                    };

                    // Debug
                    console.log("[Output] Body: ", requestBody);

                    fetch(server_url + '/web/api/event', {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: 'PUT',
                        body: JSON.stringify(requestBody)
                    })
                    .then((response) => response.json())
                    .then((result) => {
                        // Debug
                        //console.log("Result.", result);

                        if (result.success) {
                            alert('Event successfully modified!');
                            window.location.href = "/event/view/" + result.client_data.event.event_id;
                        }
                        else {
                            switch (result.error.code) {
                                case 'not-authorized-to-modify-event':
                                    alert('You are not authorized to modify this booking [Not an Admin and/or the Staff In Charge].');
                                    break;
                                case 'incomplete-form-field':
                                    alert('Some of the input fields are missing (Marked with *). Please check before submitting again.');
                                    break;
                                default:
                                    alert('Something unexpected went wrong with the modification process! Please check the logs.');
                                    break;
                            }
                        }
                    });
                    break;
                case 'exit_modal':
                    window.location.href = '/events?page=1';
                    break;
                default:
            }
        }

        function onModalRejected(context_name) {
            // Debug
            //console.log("[On Modal Prompted - Reject] Context: " + context_name);
        }
        // =====================
    </script>
    <!-- ======================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <!-- ======================================= -->
</body>

</html>