<li class="mb-5">
    <span class="font-bold"><%= title %></span>

    <br />

    <div class="mb-8">
        <span><%= description %></span>
    </div>

    <ul class="list-decimal list-inside">
        <li>
            <span>URL Endpoint: </span>
            <code><%= endpoint_url %></code>
        </li>
        <li>
            <span>Type: </span>
            <span class="font-bold"><%= endpoint_type %></span>
        </li>
        <li>
            <span>Successful Response: </span>
            <br />
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6">
                            <code class="whitespace-none"><%= endpoint_success_response %></code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            <span>Error/Failed Response(s): </span>
            <br />
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6 py-3">
                            <ol class="list-decimal list-inside">
                                <% endpoint_failed_responses.forEach((response, index)=> { %>
                                    <li>
                                        <span class="text-red-500"><%= response.name %> (<%= response.code %>)</span>

                                        <br />

                                        <span><%= response.description %></span>

                                        <br />

                                        <code class="whitespace-none"><%= response.json_response %></code>
                                    </li>
                                    <%- (index < endpoint_failed_responses.length - 1) ? '<hr class="my-5 border-[#000000]" />' : '' %>
                                <% }); %>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</li>