<li class="mb-5">
    <span class="font-bold"><%= title %></span>

    <br />

    <% if (description) { %>
        <div class="mb-8">
            <span><%= description %></span>
        </div>
    <% } else { %>
        <div class="mb-8"></div>
    <% } %>

    <ul class="list-[upper-roman] list-inside">
        <li class="my-3">
            <span>URL Endpoint: </span>
            <code class="code-container code-text"><%= endpoint_url %></code>
        </li>
        <li class="my-3">
            <span>Type: </span>
            <span class="font-bold"><%= endpoint_type %></span>
        </li>
        <li class="my-3">
            <span>Successful Response(s): </span>
            <br />
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6 pt-5 pb-3 w-screen">
                            <ol class="list-decimal list-inside">
                                <% endpoint_success_responses.forEach((response, index)=> { %>
                                    <li>
                                        <span class="text-green-500">
                                            <%= response.name %>
                                        </span>

                                        <br />

                                        <% if (response.description) { %>
                                            <div>
                                                <span><%= response.description %></span>
                                            </div>

                                            <br />
                                        <% } %>

                                        <div class="code-container">
                                            <%
                                                if (response.json_response) {
                                                    const lines = response.json_response.split(/\r?\n/).map((line) => line.trim());
                                            %>

                                            <% 
                                                let openIndent = "{";
                                                let closeIndent = "}"
                                                let openArray = "[";
                                                let closeArray = "]";
                                            %>

                                            <% let tabIndentCount = 0; %>
                                            <% lines.forEach((line, lineIndex) => { %>
                                                <!-- ===================================================== -->
                                                <!-- Increase Tab Indent on every "{" character encounter. -->
                                                <!-- Decrease Tab Indent on every "}" character encounter. -->
                                                <% 
                                                    if (line.includes(closeIndent) || line.includes(closeArray))
                                                        tabIndentCount = (tabIndentCount === 0) ? 0 : (tabIndentCount - 1);
                                                %>
                                                <!-- ===================================================== -->
                                                <p class="code-text m-0 p-0">
                                                    <% for (let i = 0; i < tabIndentCount; ++i) { %>
                                                        <span class="whitespace-pre-wrap">    </span>
                                                    <% } %>
                                                    <%= line %>
                                                </p>
                                                <%
                                                    if (line.includes(openIndent) || line.includes(openArray))
                                                        ++tabIndentCount;
                                                %>
                                            <%
                                                    }); 
                                                }
                                            %>
                                        </div>
                                    </li>
                                    <%- (index < endpoint_success_responses.length - 1) ? '<hr class="my-5 border-[#000000]" />' : '' %>
                                <% }); %>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            <span>Error/Failed Response(s): </span>
            <br />
            <table class="align-top border-collapse border border-slate-400">
                <tbody class="align-top">
                    <tr>
                        <td class="border border-slate-300 px-6 py-3 w-screen">
                            <ol class="list-decimal list-inside">
                                <% endpoint_failed_responses.forEach((response, index)=> { %>
                                    <li>
                                        <span class="text-red-500">
                                            <%= response.name %> (<span class="font-bold"><%= response.code_message %></span>)
                                        </span>

                                        <br />

                                        <span><%= response.description %></span>

                                        <br />

                                        <div class="code-container">
                                            <% const lines = response.json_response.split(/\r?\n/).map((line) => line.trim()); %>

                                            <% 
                                                let openIndent = "{";
                                                let closeIndent = "}";
                                            %>

                                            <% let tabIndentCount = 0; %>
                                            <% lines.forEach((line, lineIndex) => { %>
                                                <!-- ===================================================== -->
                                                <!-- Increase Tab Indent on every "{" character encounter. -->
                                                <!-- Decrease Tab Indent on every "}" character encounter. -->
                                                <% 
                                                    if (line.includes(closeIndent)) {
                                                        tabIndentCount = (tabIndentCount === 0) ? 0 : (tabIndentCount - 1);
                                                    }
                                                %>
                                                <!-- ===================================================== -->
                                                <p class="code-text m-0 p-0">
                                                    <% for (let i = 0; i < tabIndentCount; ++i) { %>
                                                        <span class="whitespace-pre-wrap">    </span>
                                                    <% } %>
                                                    <%= line %>
                                                </p>
                                                <%
                                                    if (line.includes(openIndent)) {
                                                        ++tabIndentCount;
                                                    } 
                                                %>
                                            <% }); %>
                                        </div>
                                    </li>
                                    <%- (index < endpoint_failed_responses.length - 1) ? '<hr class="my-5 border-[#000000]" />' : '' %>
                                <% }); %>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</li>